<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">

  // polyfill for RegExp.escape
  if(!RegExp.escape) {
    RegExp.escape = function(s) {
      return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
    };
  }

</script>
  <title>WorkPlanned</title>
</head>
<body class="grey lighten-3">

  <!-- NAVBAR -->
  <nav class="z-depth-0 grey lighten-4">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" style="width: 140px; margin-top: 5px;">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-account">Account</a>
          </li>
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text" id="logout">Logout</a>
          </li>
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-create">Create Project</a>
          </li>
          <li class="logged-out" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-login">Login</a>
          </li>
          <li class="logged-out" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-signup">Sign up</a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- SIGN UP MODAL -->
  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <h4>Sign up</h4>
      <form id="signup-form">
        <div class="input-field">
          <input type="text" id="signup-first-name" required />
          <label for="signup-first-name">First Name</label>
        </div>
        <div class="input-field">
          <input type="text" id="signup-last-name" required />
          <label for="signup-last-name">Last Name</label>
        </div>
        <div class="input-field">
          <input type="email" id="signup-email" required />
          <label for="signup-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="signup-password" class="validate" required/>
          <label for="signup-password">Choose password</label>
        </div>
        <div class="input-field">
          <input title="must match password field" id="passwordConfirm" name="passwordConfirm" type="password" required />
          <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">Password (Confirm)</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Sign up</button>
      </form>
      <span id="signup-error" class="helper-text" data-error=""></span>
    </div>
  </div>

  <!-- LOGIN MODAL -->
  <div id="modal-login" class="modal">
    <div class="modal-content">
      <h4>Login</h4><br />
      <form id="login-form">
        <div class="input-field">
          <input type="email" id="login-email" required />
          <label for="login-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="login-password" required />
          <label for="login-password">Your password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Login</button>
        </span>
      </form>
      <span id="login-error" class="helper-text" data-error="Your log-in credentials don't quite look right."></span>
    </div>
  </div>

  <!-- ACCOUNT MODAL -->
  <div id="modal-account" class="modal">
    <div class="modal-content center-align">
      <h4>Account details</h4><br />
      <div class="account-details"></div>
    </div>
  </div>

  <!-- CREATE PROJECT MODAL -->
  <div id="modal-create" class="modal">
    <div class="modal-content">
      <h4>Create Project</h4><br />
      <form id="create-form">
        <div class="input-field">
          <input type="text" id="name" required>
          <label for="name">Project Name</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Create</button>
      </form>
    </div>
  </div>

  <!-- PROJECT LIST -->
  <div class="container" style="margin-top: 40px;">
    <ul class="collapsible z-depth-0 guides" style="border: none;">
    </ul>
  </div>

  <!-- Compiled and minified JavaScript -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<!--  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>-->
<!--  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>-->
<!--  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>-->
<!--  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-functions.js"></script>-->

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBu6xJ-2AI9101dJugn9w9MdiEDE7mPCNQ",
      authDomain: "testingfirebase-1cc92.firebaseapp.com",
      databaseURL: "https://testingfirebase-1cc92.firebaseio.com",
      projectId: "testingfirebase-1cc92",
      storageBucket: "testingfirebase-1cc92.appspot.com",
      messagingSenderId: "417125061692",
      appId: "1:417125061692:web:2b8794f3fc1a31429c5f39"
    };
    // Initialize Firebase - DISABLE
    // firebase.initializeApp(firebaseConfig);

    // make auth and firebase references
    //const auth = firebase.auth();
    //const db = firebase.firestore();
    //const functions = firebase.functions();

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/auth.js') }}"></script>

  <script>
    $(document).ready(function() {
      setupUI();
    });

  </script>
</body>
</html>